<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Professores</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="card-header">
			<strong>Cadastro de Professores</strong>
		</div>
		<div class="card-body">
			<form class="form-horizontal" th:object="${professor}" th:action="@{/professor/salvar}" method="POST" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<label>Nome</label>
							<input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome"
							 maxlength="50" name="" />
						</div>
					</fieldset>
				</div>
				<div align="center">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/professor/listarProfessores}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>